workflows/publisher.json
{
  "name": "Marketer: Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const delayMinutes = Math.floor(Math.random() * 180);\nconst delayMs = delayMinutes * 60 * 1000;\nreturn [{ json: { delayMinutes, delayMs, delayReadable: `${delayMinutes} minutes` } }];"
      },
      "id": "node-calculate-delay",
      "name": "Calculate Random Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "amount": "={{ $json.delayMinutes }}",
        "unit": "minutes"
      },
      "id": "node-wait",
      "name": "Wait Random Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst DRAFTS_PATH = '/home/node/.n8n/marketer/data/drafts.json';\nconst drafts = JSON.parse(fs.readFileSync(DRAFTS_PATH, 'utf8'));\nconst draft = drafts.drafts.find(d => d.status === 'approved');\nif (!draft) {\n  return [{ json: { hasDraft: false } }];\n}\nreturn [{ json: { hasDraft: true, draft, draftsPath: DRAFTS_PATH } }];"
      },
      "id": "node-find-draft",
      "name": "Find Approved Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-draft",
              "leftValue": "={{ $json.hasDraft }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-has-draft",
      "name": "Has Approved Draft?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-get-linkedin-id",
      "name": "Get LinkedIn Person ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ author: 'urn:li:person:' + $('Get LinkedIn Person ID').first().json.sub, lifecycleState: 'PUBLISHED', specificContent: { 'com.linkedin.ugc.ShareContent': { shareCommentary: { text: $('Has Approved Draft?').first().json.draft.linkedin.text }, shareMediaCategory: 'NONE' } }, visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' } }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-post-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draft = $('Has Approved Draft?').first().json.draft;\nif (draft.x.isThread && draft.x.threadParts && draft.x.threadParts.length > 0) {\n  return draft.x.threadParts.map((text, i) => ({\n    json: { text, isFirst: i === 0, index: i, draft }\n  }));\n} else {\n  return [{ json: { text: draft.x.text, isFirst: true, index: 0, draft } }];\n}"
      },
      "id": "node-prepare-tweets",
      "name": "Prepare Tweet(s)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth1Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.isFirst ? JSON.stringify({ text: $json.text }) : JSON.stringify({ text: $json.text, reply: { in_reply_to_tweet_id: $('Post to X').first().json.data.id } }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-post-x",
      "name": "Post to X",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 420],
      "onError": "continueRegularOutput",
      "credentials": {
        "oAuth1Api": {
          "id": "TWITTER_CREDENTIAL_ID",
          "name": "Twitter OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst draftsPath = $('Find Approved Draft').first().json.draftsPath;\nconst draftId = $('Find Approved Draft').first().json.draft.id;\nconst drafts = JSON.parse(fs.readFileSync(draftsPath, 'utf8'));\nconst draft = drafts.drafts.find(d => d.id === draftId);\nconst linkedinResult = $('Post to LinkedIn').first().json;\nconst xResult = $('Post to X').first().json;\nconst linkedinSuccess = !linkedinResult.error;\nconst xSuccess = !xResult.error;\nlet linkedinUrl = null;\nlet xUrl = null;\nif (linkedinSuccess && linkedinResult.id) {\n  linkedinUrl = `https://www.linkedin.com/feed/update/${linkedinResult.id}`;\n}\nif (xSuccess && xResult.data && xResult.data.id) {\n  xUrl = `https://x.com/i/status/${xResult.data.id}`;\n}\nif (linkedinSuccess || xSuccess) {\n  draft.status = 'published';\n} else {\n  draft.status = 'error';\n}\ndraft.publishedAt = new Date().toISOString();\ndraft.postUrls = { linkedin: linkedinUrl, x: xUrl };\nfs.writeFileSync(draftsPath, JSON.stringify(drafts, null, 2));\nreturn [{ json: { draftId, topic: draft.topic, linkedinSuccess, xSuccess, linkedinUrl, xUrl } }];"
      },
      "id": "node-update-status",
      "name": "Update Draft Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: 'Published!\\n\\n' + $json.topic + '\\n\\nLinkedIn: ' + ($json.linkedinSuccess ? ($json.linkedinUrl || 'Posted') : 'Failed') + '\\nX: ' + ($json.xSuccess ? ($json.xUrl || 'Posted') : 'Failed') + '\\n\\nDraft ID: ' + $json.draftId, parse_mode: 'HTML' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-telegram-published",
      "name": "Telegram: Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [
        [
          {
            "node": "Calculate Random Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Random Delay": {
      "main": [
        [
          {
            "node": "Wait Random Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Random Time": {
      "main": [
        [
          {
            "node": "Find Approved Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Approved Draft": {
      "main": [
        [
          {
            "node": "Has Approved Draft?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Approved Draft?": {
      "main": [
        [
          {
            "node": "Get LinkedIn Person ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Tweet(s)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get LinkedIn Person ID": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Update Draft Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tweet(s)": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X": {
      "main": [
        [
          {
            "node": "Update Draft Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Draft Status": {
      "main": [
        [
          {
            "node": "Telegram: Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "marketer"
    }
  ],
  "meta": {
    "instanceId": ""
  }
}
