workflows/review-handler.json
{
  "name": "Marketer: Review Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "marketer-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "review-webhook",
      "name": "Review Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst DRAFTS_PATH = '/home/node/.n8n/marketer/drafts.json';\nconst query = $input.first().json.query;\nconst action = query.action;\nconst draftId = query.id;\nif (!action || !draftId) {\n  return [{ json: { error: true, message: 'Missing action or id parameter' } }];\n}\nconst drafts = JSON.parse(fs.readFileSync(DRAFTS_PATH, 'utf8'));\nconst draft = drafts.drafts.find(d => d.id === draftId);\nif (!draft) {\n  return [{ json: { error: true, message: `Draft ${draftId} not found` } }];\n}\nif (draft.status !== 'pending') {\n  return [{ json: { error: false, action: 'already_handled', draft, message: `Draft already ${draft.status}` } }];\n}\nreturn [{ json: { error: false, action, draft, draftId, draftsPath: DRAFTS_PATH } }];"
      },
      "id": "load-draft",
      "name": "Load Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst { draftId, draftsPath } = $input.first().json;\nconst drafts = JSON.parse(fs.readFileSync(draftsPath, 'utf8'));\nconst draft = drafts.drafts.find(d => d.id === draftId);\ndraft.status = 'approved';\nfs.writeFileSync(draftsPath, JSON.stringify(drafts, null, 2));\nreturn [{ json: { draftId, status: 'approved', topic: draft.topic, contentType: draft.contentType } }];"
      },
      "id": "approve-draft",
      "name": "Approve Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 160]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst { draftId, draftsPath } = $input.first().json;\nconst drafts = JSON.parse(fs.readFileSync(draftsPath, 'utf8'));\nconst draft = drafts.drafts.find(d => d.id === draftId);\ndraft.status = 'rejected';\nfs.writeFileSync(draftsPath, JSON.stringify(drafts, null, 2));\nreturn [{ json: { draftId, status: 'rejected', topic: draft.topic, contentType: draft.contentType } }];"
      },
      "id": "reject-draft",
      "name": "Reject Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MARKETER_DISCORD_WEBHOOK }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"title\": \"{{ $json.status === 'approved' ? 'Draft Approved ✅' : 'Draft Rejected ❌' }}\",\n      \"color\": {{ $json.status === 'approved' ? 5763719 : 15548997 }},\n      \"description\": \"**Type:** {{ $json.contentType }}\\n**Topic:** {{ $json.topic }}\",\n      \"footer\": {\n        \"text\": \"Draft ID: {{ $json.draftId }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "discord-confirmation",
      "name": "Discord Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>{{ $('Approve Draft').first()?.json?.status === 'approved' || $('Reject Draft').first()?.json?.status ? ($json.status === 'approved' ? 'Approved' : 'Rejected') : 'Done' }}</title>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0; background: #f9fafb; }\n    .card { background: white; border-radius: 16px; padding: 40px 32px; text-align: center; box-shadow: 0 4px 24px rgba(0,0,0,0.08); max-width: 400px; width: 90%; }\n    .icon { font-size: 56px; margin-bottom: 16px; }\n    h1 { font-size: 24px; font-weight: 700; margin: 0 0 8px; color: #111827; }\n    .topic { font-size: 15px; color: #6b7280; margin: 0 0 24px; }\n    .close-hint { font-size: 13px; color: #9ca3af; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">{{ $json.status === 'approved' ? '✅' : '❌' }}</div>\n    <h1>Draft {{ $json.status === 'approved' ? 'Approved' : 'Rejected' }}</h1>\n    <p class=\"topic\">{{ $json.topic }}</p>\n    <p class=\"close-hint\">You can close this tab.</p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "values": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "respond-confirmation",
      "name": "Respond: Confirmation Page",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Error</title>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0; background: #fef2f2; }\n    .card { background: white; border-radius: 16px; padding: 40px 32px; text-align: center; box-shadow: 0 4px 24px rgba(0,0,0,0.08); max-width: 400px; width: 90%; border: 1px solid #fecaca; }\n    .icon { font-size: 56px; margin-bottom: 16px; }\n    h1 { font-size: 24px; font-weight: 700; margin: 0 0 8px; color: #dc2626; }\n    .message { font-size: 15px; color: #6b7280; margin: 0; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">⚠️</div>\n    <h1>Error</h1>\n    <p class=\"message\">{{ $json.message }}</p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "values": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond: Error Page",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 440]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Already Handled</title>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0; background: #f9fafb; }\n    .card { background: white; border-radius: 16px; padding: 40px 32px; text-align: center; box-shadow: 0 4px 24px rgba(0,0,0,0.08); max-width: 400px; width: 90%; border: 1px solid #e5e7eb; }\n    .icon { font-size: 56px; margin-bottom: 16px; }\n    h1 { font-size: 24px; font-weight: 700; margin: 0 0 8px; color: #374151; }\n    .message { font-size: 15px; color: #6b7280; margin: 0; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">ℹ️</div>\n    <h1>Already Handled</h1>\n    <p class=\"message\">{{ $json.message }}</p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "values": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "respond-already-handled",
      "name": "Respond: Already Handled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 580]
    }
  ],
  "connections": {
    "Review Webhook": {
      "main": [
        [
          {
            "node": "Load Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Draft": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Approve Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Error Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Already Handled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Draft": {
      "main": [
        [
          {
            "node": "Discord Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Draft": {
      "main": [
        [
          {
            "node": "Discord Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Confirmation": {
      "main": [
        [
          {
            "node": "Respond: Confirmation Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "marketer"
    }
  ],
  "meta": {
    "instanceId": ""
  }
}
